---
import Layout from "../../components/Layout.astro";
import { supabase } from "../../utils/database";

export const prerender = false;

const { id } = Astro.params;

if (!id) {
  throw new Error("No framework id provided");
}

// Fetch pet data from Supabase if connection is set up
let framework;
if (supabase) {
  const { data, error } = await supabase
    .from("frameworks")
    .select("*")
    .eq("id", id)
    .single();
  framework = data ? data : null;
  if (error || !framework) {
    console.error(error);
    throw new Error("No framework found");
  }
}
---

<Layout title={`${framework?.name} | Frameworks`}>
  <article class="border-b pb-14 border-neutral-600">
    <header
      class="flex flex-wrap items-center justify-between pb-2 mb-8 border-b"
    >
      <h1 class="mb-4 text-5xl font-bold">{framework?.name}</h1>
      <a href={framework?.url} class="underline">Website &#8599;</a>
    </header>

    <figure>
      <img
        src={`/.netlify/images?url=/images/${framework?.logo}`}
        alt={framework?.name}
        class="mb-2 border rounded-sm border-neutral-500"
      />
      <figcaption class="font-mono text-xs">{framework?.name} logo</figcaption>
    </figure>

    <p class="py-6 text-xl">{framework?.description}</p>

    <form action={`/api/frameworks/${framework?.id}/like`} method="post">
      <h2 class="mb-2 text-2xl">Like {framework?.name}!</h2>

      <p class="mb-4">
        {framework?.name} has {framework?.likes} like{
          framework?.likes === 1 ? "" : "s"
        }.
      </p>

      <button type="submit" class="px-4 py-2 bg-green-500 rounded-sm text-neutral-800 hover:bg-green-600">Give {framework?.name} your vote &starf;</button>
    </form>
  </article>
</Layout>
